<nav>
    <div class="container">
        <div class="content">
            <img src="https://cdn-icons-png.flaticon.com/256/3795/3795330.png" alt="User Icon" width="60" height="60">
            <h2 class="logo">Espace Formateur</h2>
            <ul>
                <li routerLink="/formateur">
                    <img src="https://static.thenounproject.com/png/3485331-200.png" alt="User Icon" width="30" height="30">
                    Mes Sessions</li>
                <li routerLink="/formateur/mesdemandes">
                    <img src="https://cdn-icons-png.flaticon.com/512/7050/7050554.png" alt="User Icon" width="30" height="30">
                    Consulter mes demandes</li>
                <li routerLink="/formateur/demande">
                    <img src="https://cdn-icons-png.flaticon.com/512/1698/1698477.png" alt="User Icon" width="30" height="30">
                    Faire une demande</li>
                <li routerLink="">
                    <img src="https://cdn-icons-png.flaticon.com/512/25/25376.png" alt="User Icon" width="30" height="30"/>
                    Déconnexion</li>
            </ul>
        </div>
    </div>
</nav>
