<nav>
    <div class="container">
        <div class="content">
          
            <h2 class="logo">
                <img src="https://cdn-icons-png.freepik.com/512/6830/6830335.png" alt="User Icon" width="30" height="30"/>
                Espace Admin</h2>
            <ul>
                
                <li routerLink="/responsable/ajouter">
                    <img src="https://cdn-icons-png.flaticon.com/512/70/70310.png" alt="User Icon" width="30" height="30"/>
                    Ajouter Responsable-Formateur</li>
                <li routerLink="/responsable">
                    <img src="https://cdn-icons-png.flaticon.com/512/1476/1476122.png" alt="User Icon" width="35" height="30"/>
                    Gérer les formateurs</li>
                <li routerLink="/responsable/logout">
                    <img src="https://cdn-icons-png.flaticon.com/512/25/25376.png" alt="User Icon" width="30" height="30"/>
                    Déconnexion</li>
            </ul>
        </div>
    </div>
</nav>