<app-header></app-header>
<div class="box mt-5 cartBox">
  <button class="btn btn-success" (click)="opened(content)">Add Formation</button>
  <table class="table table-striped">
    <thead>
      <tr >
        <th></th>
        <th>Titre</th>
        <th>Catégorie</th>
        <th>Prix</th>
       
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of formations | paginate: { itemsPerPage: 3, currentPage: p }; let i = index">
        <td><img src="{{item.image}}" alt="" class="product-image"></td>
        <td>{{item.title}}</td>
        <td>{{item.categ}}</td>
        <td>{{item.price}} Dinars</td>
        <td><button class="btn btn-warning"   (click)="update(item,content2)">Update</button></td>
        <td><button class="btn btn-danger"   (click)="delete(item)">Delete</button></td>
      </tr>
    </tbody> 
  </table>
</div>
<div class="text-center">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">ADD FORMATION</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form" >
      <div class="row">
          <div class="col-md-4 col-sm-12">
              <label for="">Title</label>
              <input type="text" formControlName="title" class="form-control" placeholder="title">
          </div>
          <div class="col-md-4 col-sm-12">
              <label for="">Price</label>
              <input type="number"  formControlName="price" class="form-control" placeholder="price">
          </div>
          <div class="col-md-4 col-sm-12">
              <app-select [data]="Categories" [title]="'Categories'" (selectedValue)="getSelectedCategory($event)" ></app-select>
          </div>
          <div class="col-md-4 col-sm-12">
              <label for="image">Image</label>
              <img src="{{base64}}" alt="">
              <input type="file" class="form-control" (change)="getImagePath($event)" >
          </div>
          <div class="col-md-8 col-sm-12">
              <label for="Description">Description</label>
              <textarea  class="form-control"  formControlName="description" placeholder="type here .. "></textarea>
          </div>
          <div class="col-md-8 col-sm-12">
            <label for="n">Niveau(avancé,debutant..)</label>
            <input type="text"  class="form-control"  formControlName="niveau" placeholder="type here .. "/>
        </div>
          <div class="col-md-8 col-sm-12">
            <label for="format">Formateur</label>
            <select class="form-control" (change)="getSelectedFormateur($event)">
              <option value="all">All Formateurs</option>
                <option  *ngFor="let opt of formateurs" value="{{opt.id}}" >{{opt.fullname}}</option>
            </select>
            
          </div>
      </div>
      <button class="btn btn-info"  (click)="Session(content3)">Add Session</button>
      <div class="d-flex justify-content-end mt-3">
          <button class="btn btn-success"  (click)="addForm()">Add Form</button>
      </div>
  </form>
  </div>
 
</ng-template>
<ng-template>
  
</ng-template>
<ng-template #content2 let-c="close" let-d="dismiss">
  <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Update FORMATION</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form" >
      <div class="row">
          <div class="col-md-4 col-sm-12">
              <label for="">Title</label>
              <input type="text" formControlName="title" class="form-control" placeholder="title">
          </div>
          <div class="col-md-4 col-sm-12">
              <label for="">Price</label>
              <input type="number"  formControlName="price" class="form-control" placeholder="price">
          </div>
          <div class="col-md-4 col-sm-12">
              <app-select [data]="Categories" [title]="'Categories'"   (selectedValue)="getSelectedCategory($event)"></app-select>
          </div>
          <div class="col-md-4 col-sm-12">
              <label for="image">Image</label>
              <img src="{{base64}}" alt="">
              <input type="file" class="form-control" (change)="getImagePath($event)" >
          </div>
          <div class="col-md-8 col-sm-12">
              <label for="image">Description</label>
              <textarea  class="form-control"  formControlName="description" placeholder="type here .. "></textarea>
          </div>
      </div>

      <div class="d-flex justify-content-end mt-3">
          <button class="btn btn-success"  (click)="updateForm()">Update Form</button>
      </div>
  </form>
  </div>
 
</ng-template>



<ng-template #content3 let-c="close" let-d="dismiss">
  <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Session(s)</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form">
      <div formArrayName="sessions">
        <div *ngFor="let session of form.get('sessions')?.value; let i = index" class="row">
          <div class="col-md-4 col-sm-12">
            <label for="sessionDate">Session Date</label>
            <input type="date" [formControl]="getFormControl(i, 'date')!" class="form-control" placeholder="Session Date">
          </div>
          <div class="col-md-4 col-sm-12">
            <label for="sessionDuration">Session Duration</label>
            <input type="number" [formControl]="getFormControl(i, 'duration')!" class="form-control" placeholder="Session Duration">
          </div>
          <div class="col-md-4 col-sm-12">
            <label for="sessionLocation">Session Location</label>
            <input type="text" [formControl]="getFormControl(i, 'location')!" class="form-control" placeholder="Session Location">
          </div>
        </div>
      </div>
    <div class="row mt-3">
      <div class="col">
      <button type="button" class="btn btn-warning" (click)="addSession()">Add</button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-success"  (click)="d('Cross click')">Submit</button>
    </div>
    </div>
    </form>
  </div>    
</ng-template>