<nav>
    <div class="container">
        <div class="content">
            <h2 class="logo">
                <img src="https://cdn-icons-png.flaticon.com/256/3795/3795330.png" alt="User Icon" width="60" height="60">
                Espace Responsable</h2>
            <ul>
                <li routerLink="/admin/gestForm">
                    <img src="https://cdn-icons-png.flaticon.com/512/4519/4519678.png" alt="User Icon" width="30" height="30"/>
                    Les Formateurs</li>
                <li routerLink="/admin/demandes">
                    <img src="https://cdn-icons-png.flaticon.com/512/2558/2558424.png" alt="User Icon" width="30" height="30"/>
                    Les demandes</li>
                <li routerLink="/admin/formations">
                    <img src="https://cdn-icons-png.flaticon.com/512/5257/5257104.png" alt="User Icon" width="30" height="30"/>
                    Formations</li>
                <li routerLink="/admin">
                    <img src="https://cdn-icons-png.flaticon.com/512/615/615075.png" alt="User Icon" width="30" height="30"/>
                    Candidats</li>
                <li routerLink="/admin/logout">
                    <img src="https://cdn-icons-png.flaticon.com/512/25/25376.png" alt="User Icon" width="30" height="30"/>
                    Déconnexion</li>
            </ul>
        </div>
    </div>
</nav>