<nav>
  <div class="container">
    <div class="content">
      <div style="display: flex; align-items: center;">
        <img src="https://cdn-icons-png.flaticon.com/256/3795/3795330.png" alt="User Icon" width="60" height="60">
        <h2 class="logo" style="margin-left: 10px;">{{userForm[0].fullname}}</h2>
      </div>
      
      <ul>
        <li routerLink="/candidat">
          <img src="https://cdn.icon-icons.com/icons2/2168/PNG/512/social_college_education_graduation_cap_hat_university_icon_133176.png" alt="User Icon" width="25" height="25"/>
           Formations
        </li>
        <li routerLink="/candidat/session">
          <img src="https://cdn-icons-png.flaticon.com/512/32/32223.png" alt="User Icon" width="30" height="30"/>
          Historique</li>
        <li routerLink="/candidat/cart">
          <img src="https://cdn.icon-icons.com/icons2/1365/PNG/512/heart_89277.png" alt="User Icon" width="30" height="30"/>
          Liste d'envies
        <li routerLink="">
          <img src="https://cdn-icons-png.flaticon.com/512/25/25376.png" alt="User Icon" width="30" height="30"/>
          Déconnexion</li>
      </ul>
    </div>
  </div>
</nav>
